/* ================== google font start =================== */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ================== google font end =================== */

/* ================== css resset start =================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all linear 0.3s;
}

a:hover {
  color: var(--green-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* ================ css resset end ================== */

/* ================ css variables start ================== */

:root {
  /* colors */

  --red-color: red;
  --green-color: rgb(8, 213, 8);
  --black-dark: black;
  --black-light: rgb(115, 115, 115);
  --white-color: white;
  --white-dark: rgb(226, 226, 226);

  /* fonts */

  --popins: "Poppins", serif;
  --inter: "Inter", serif;
  --large: 2.5rem;
  --mid: 1.5rem;
  --small: 1rem;

  /* padding */

  --pad: 0 3rem;
}

/* ================ css variables end ================== */

/* ================ html body start ================== */

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  font-family: var(--popins);
  font-weight: 500;
}

/* ================ html body end ================== */

/* ================ #root start ================== */

#root {
  height: 100%;
  width: 100%;
}

.active {
  color: var(--green-color);
}
/* ================ #root end ================== */
